/* Подключение css-модулей */
@import url('normalize.css');
@import url('variables.css');

/* -------Общие стили------- */
body{
    /* width: 100vw; */
    overflow-x: hidden;
}

.container{
    width: 83%;
    margin: 0 auto;
}

.heading{
    color: var(--main-col);
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}

.just-text{
    font-size: 16px;
}

.bold-text{
    font-weight: bold;
}

/* Шапка */

.header, .head-logo-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    padding: 35px 0;
    margin-bottom: 35px;
    column-gap: 20px;
}

.head-logo-block__head-logo{
    width: 120px;
    margin-right: 10px;
}

.head-logo-block__head-logo-text, .foot-logo-block__foot-logo-text{
    font-weight: 700;
    font-size: 32px;
    color: var(--main-col);
    line-height: 38px;
}

.head-contacts{
    display: flex;
    flex-direction: column;
}

.head-contacts__contact{
    color: var(--main-col);
}

.contacts__contact{
    display: flex;
    font-weight: 500;
    position: relative;
    align-items: center;
    text-decoration: none;
    margin-bottom: 15px;
    transition: color .2s linear;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear;
}

.contacts__contact:last-child{
    margin-bottom: 0;
}

.head-contacts__contact:hover{
    color: var(--sec-col);
}

.contacts__contact:hover > img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


.contact__icon{
    width: 20px;
    margin-right: 5px;
    transition: transform .2s linear;
    -webkit-transition: transform .2s linear;
    -moz-transition: transform .2s linear;
    -ms-transition: transform .2s linear;
    -o-transition: transform .2s linear;
}

/* Подвал */

.footer{
    margin-top: 120px;
    width: 100%;
    background-color: var(--main-col);
    padding: 35px 0;
}

.footer__content, .foot-logo-block, .foot-contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}

.foot-logo-block{
    margin-bottom: 35px;
}

.foot-logo-block__foot-logo{
    width: 120px;
    margin-bottom: 10px;
}

.foot-logo-block__foot-logo-text{
    color: #fff;
}

.foot-contacts{
    margin-bottom: 50px;
}

.foot-contacts__contact{
    color: #fff;
}

.foot-contacts__contact:hover{
    color: #5DA7AC;
}

.footer__copyright{
    font-weight: 200;
    line-height: 150%;
}

/* Модалки */

.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal{
    width: 50%;
    min-width: 340px;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.top-cntrls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.top-cntrls__heading{
    margin-bottom: 0;
}

.top-cntrls__close-btn{
    font-size: 25px;
    font-weight: 900;
    color: var(--main-col);
    border: none;
    cursor: pointer;
    outline: none;
    transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
}

.top-cntrls__close-btn:hover{
    color: var(--sec-col);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__input-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
}

.form__input-block:last-child{
    margin-bottom: 0;
}

.form__input-block > *:not(:last-child){
    margin-bottom: 5px;
}

.input-block__input{
    font-size: 16px;
    width: 250px;
    padding: 5px 15px;
    border: 3px solid var(--main-col);
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: border 0.3s linear;
    -webkit-transition: border 0.3s linear;
    -moz-transition: border 0.3s linear;
    -ms-transition: border 0.3s linear;
    -o-transition: border 0.3s linear;
}

.input-block__input:focus{
    border: 3px solid var(--sec-col);
}

.input-block__input::placeholder{
    font-size: 16px;
}

.input-block__warning-txt{
    opacity: 0;
    font-size: 15px;
    font-weight: 400;
    color: red;
}

.form__submit-btn{
    color: #fff;
    padding: 15px 25px;
    background: linear-gradient(180deg, var(--main-col) 0%, var(--sec-col) 100%);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.modal-info__text{
    text-align: center;
}

.modal-info__text > a{
    color: var(--main-col);
    text-decoration: none;
}

/* Блок с переключателем */

.switch-block{
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-bottom: 50px;
}

.switch-block::after{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: var(--main-col);
}

.switch-block__btn{
    border: none;
    padding: 10px 15px;
    background-color: #5F5F5F;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.switch-block__btn:first-child{
    border-radius: 10px 0px 0px 0px;
    -webkit-border-radius: 10px 0px 0px 0px;
    -moz-border-radius: 10px 0px 0px 0px;
    -ms-border-radius: 10px 0px 0px 0px;
    -o-border-radius: 10px 0px 0px 0px;
}

.switch-block__btn:last-child{
    border-radius: 0px 10px 0px 0px;
}

.switch-block__btn:hover{
    text-decoration: underline;
}

.switch-block__btn_active{
    background: linear-gradient(360deg, var(--main-col) 0%, var(--sec-col) 100%);
}

/* Стили для таблиц */
.table{
    display: grid;
    border: 1px solid var(--main-col);
    overflow-x: scroll;
    color: var(--main-col);
    border-collapse: collapse;
}

/* .table::-webkit-scrollbar{
    width: 0;
    height: 0;
} */

.table__head{
    font-weight: 700;
}

.table__cell{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-col);
    line-height: 130%;
    padding: 10px;
    border: 1px solid var(--main-col);
    text-align: center;
    border-collapse: collapse;
    transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
}

a.table__cell:hover{
    color: var(--sec-col)
}

/* Стили для блока с заявками */

.request-block{
    position: relative;
}

.request-part{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(93.74deg, var(--sec-col) 0%, #089CA6 100%);
    margin: 120px 0;
    padding: 50px;
    filter: drop-shadow(10px 10px 35px rgba(0, 0, 0, 0.4));
    -webkit-filter: drop-shadow(10px 10px 35px rgba(0, 0, 0, 0.4));
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.request-block::before{
    content: '';
    position: absolute;
    z-index: -5;
    display: block;
    width: 150px;
    height: 150px;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    background: linear-gradient(0deg, var(--sec-col) 0%, #96F8FF 100%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.request-block::after{
    content: '';
    position: absolute;
    z-index: -5;
    display: block;
    width: 150px;
    height: 150px;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    background: linear-gradient(180deg, var(--sec-col) 0%, #96F8FF 100%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.request-text-block{
    color: #fff;
}

.request-text-block__title{
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 15px;
}

.request-text-block__subtitle{
    font-weight: 300;
    font-size: 24px;
}

.request-btn{
    padding: 15px 25px;
    cursor: pointer;
    color: var(--main-col);
    font-weight: 700;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.request-btn:hover{
    background-color: var(--main-col);
    color: #fff;
}

/* Стили для блока с документами */

.documents__document{
    width: 90%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    background: linear-gradient(90deg, #1F5A5E 0%, var(--sec-col) 100%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.documents__document:last-child{
    margin-bottom: 0;
}

.document__name, .document__download-link{
    color: #fff;
}

/* -------Основные стили------- */

/* -----------Основная часть----------- */
/* -----Блок доп. образования----- */
.pro-education-block, .training-courses-block{
    margin-bottom: 80px;
}

/* Таблица профессионального обучения */
.pro-education-block__table{
    grid-template-columns: 1fr 1fr 1fr 0.4fr 0.4fr 0.4fr;
}

/* Таблица повышения квалификации */
.add-education__training-courses-blocktraining-courses-block{
    margin-bottom: 80px;
}

.training-courses-block__table{
    grid-template-columns: 1fr 1fr 0.4fr 0.4fr 1fr;
}

/* Шаги поступления */
.step{
    width: 100%;
    background: linear-gradient(90deg, #1F5A5E 0%, #217A80 100%);
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: space-between;
    padding: 25px;
    margin-bottom: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.step:last-child{
    margin-bottom: 0;
}

.step__step-text{
    display: flex;
    align-items: center;
    color: #fff;
}

.step-text__number{
    padding-right: 25px;
    border-right: 3px solid #1A4B4F;
    font-weight: 900;
    font-size: 64px;
    margin-right: 25px;
    position: relative;
}

.step-text__name{
    font-weight: 700;
    font-size: 24px;
}

.step__img{
    width: 85px;
}

/* Блок с контактами */
.contacts-block{
    margin-bottom: 80px;
}

.contact-block{
    text-align: center;
    margin-bottom: 15px;
}

.contact-block__contact-title{
    margin-bottom: 5px;
}

/* ----------------------
    Страница автошколы
---------------------- */

/* Блок с информацией */

.drive-school-info *:not(:last-child){
    margin-bottom: 10px;
}

.drive-school-info__documents-list{
    margin-left: 20px;
}

/* ----------------------
    Страница благодарности
---------------------- */

.thanksgiving-block{
    text-align: center;
    color: var(--main-col);
    padding: 50px;
}

.thanksgiving-block__heading{
    font-size: 32px;
    margin-bottom: 5px;
}

.thanksgiving-block__subtitle{
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 50px;
}

.thanksgiving-block__link{
    color: var(--main-col);
}

/*
-----------------------------------
-----------------------------------
-----------------------------------
МЕДИА ЗАПРОСЫ
-----------------------------------
-----------------------------------
-----------------------------------
*/

@media (max-width: 640px) {

    /* Шапка */

    .header, .head-logo-block{
        flex-direction: column;
    }

    .header{
        column-gap: 0px;
    }
    
    .head-logo-block{
        margin-bottom: 25px;
    }

    .head-logo-block__head-logo{
        width: 120px;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .head-logo-block__head-logo-text, .foot-logo-block__foot-logo-text{
        text-align: center;
    }

    .head-contacts{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .head-contacts__contact{
        color: var(--main-col);
    }

    .contacts__contact{
        display: flex;
        font-weight: 500;
        position: relative;
        align-items: center;
        text-decoration: none;
        margin-bottom: 15px;
        transition: color .2s linear;
        -webkit-transition: color .2s linear;
        -moz-transition: color .2s linear;
        -ms-transition: color .2s linear;
        -o-transition: color .2s linear;
    }

    .contacts__contact:last-child{
        margin-bottom: 0;
    }

    .head-contacts__contact:hover{
        color: var(--sec-col);
    }

    .contacts__contact:hover > img{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }


    .contact__icon{
        width: 20px;
        margin-right: 5px;
        transition: transform .2s linear;
        -webkit-transition: transform .2s linear;
        -moz-transition: transform .2s linear;
        -ms-transition: transform .2s linear;
        -o-transition: transform .2s linear;
    }
}

@media (max-width: 580px) {
    .container{
        width: 90%;
    }

    .request-part{
        flex-direction: column;
    }

    .request-text-block{
        margin-bottom: 40px;
    }
}

@media (max-width: 550px) {

    .modal{
        padding: 15px;
    }

    .step, .step__step-text{
        flex-direction: column;
        align-items: center;
    }

    .step-text__number{
        border-right: none;
        border-bottom: 3px solid #1A4B4F;
        padding: 0 0 5px 0;
        margin: 0 0 10px 0;
    }

    .step-text__name{
        text-align: center;
        margin-bottom: 20px;
    }

    .step__img{
        width: 75px;
    }

    .request-block::before{
        content: '';
        position: absolute;
        z-index: -5;
        display: block;
        width: 150px;
        height: 150px;
        bottom: 0;
        left: 0;
        transform: translate(-5%, 50%);
        -webkit-transform: translate(-5%, 50%);
        -moz-transform: translate(-5%, 50%);
        -ms-transform: translate(-5%, 50%);
        -o-transform: translate(-5%, 50%);
        background: linear-gradient(0deg, var(--sec-col) 0%, #96F8FF 100%);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
    
    .request-block::after{
        content: '';
        position: absolute;
        z-index: -5;
        display: block;
        width: 150px;
        height: 150px;
        top: 0;
        right: 0;
        transform: translate(5%, -50%);
        -webkit-transform: translate(5%, -50%);
        -moz-transform: translate(5%, -50%);
        -ms-transform: translate(5%, -50%);
        -o-transform: translate(5%, -50%);
        background: linear-gradient(180deg, var(--sec-col) 0%, #96F8FF 100%);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

}